{{#javascripts}}
partials/searchbar
{{/javascripts}}

{{#stylesheets}}
partials/searchbar
{{/stylesheets}}

<div class="navbar navbar-default navbar-fixed-top searchbar" role="navigation">
	<div class="container">
		<div class="row">

			<div class="navbar-header col-sm-3 col-xs-8 sm-small-text">
				<a class="navbar-brand" href="/">{{{__ "Assisted asset cropper"}}}</a>
			</div>

			<div class="col-sm-2 col-xs-4 col-sm-push-7 sm-small-text">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a id="logout-btn" href="#logout"><span class="glyphicon glyphicon-off"></span> {{{__ "Logout"}}}</a>
					</li>
				</ul>
			</div>

			<div class="col-sm-7 col-xs-12 col-sm-pull-2">
				<div class="search-controls input-group">
					<input type="text" class="form-control" id="search-term" placeholder="{{{__ "Search string"}}}">
					
					<div class="input-group-btn">
						<button class="btn btn-default" type="button" id="catalog-selector" data-toggle="dropdown">
							<!-- Any catalog -->
							<span class="loading">
								{{{__ "Loading catalogs ..."}}}
							</span>
							<span class="text">
								{{{__ "in the"}}}
								<span class="catalog"></span>
								{{{__ "catalog"}}}
							</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="catalog-selector"></ul>

						<button class="btn btn-default" type="button" id="search-button">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>